@mixin box-style(){
    height: 200px;
    width: 200px;
    background-color: mediumvioletred;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 50px auto;
   }

@mixin box-hover(){
    transition: all 500ms;
    &:hover{
        transform: scale(1.2);
    }
}

@mixin f-center() {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.box{
    @include box-style();
    @include box-hover();
    @include f-center();
}

.box2{
    @include box-style();
    background-color: yellowgreen;
    height: 100px;
    width: 100px;
}