<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <!-- Nev Bar -->
     <div class="nev-bar">
        <div class="logo">
          <img src="Images/company-logo.png" alt="" class="logo-img" />
        </div>
        <nav class="nav">
          <option value="" class="nav-option">About Us</option>
          <option value="" class="nav-option">Services</option>
          <option value="" class="nav-option">Case studies</option>
          <option value="" class="nav-option">Blog</option>
          <option value="" class="nav-option">How it work</option>
          <option value="" class="nav-option">Hire</option>
        </nav>
        <button class="nav-button">Contact us</button>
      </div>

    <!-- Hero section -->

    <div class="hero-section">
        <div class="hero-section-text">
          <h2>
            Great <span class="text-decoration"><strong>Product</strong></span> is
            <br />
            <strong>built by great</strong>
            <strong><span class="text-decoration">teams</span></strong>
          </h2>
          <br />
          We help build and manage a team of world-class developers to bring your
          vision to life
          <br />
  
          <button class="hero-section-btn">Let's get started!</button>
        </div>
        <div class="hero-section-image">
          <img src="Images/Hero-Wrapper__image--center.png" alt="" />
        </div>
      </div>
          <!-- service-card  -->
      <!-- 1 -->
      <div class="card">
        <div class="service-card">
          <div class="logo-service">
            <img src="Images/web-design-development.png" alt="" />
          </div>
          <div class="service-card-title">Web design & development</div>
          <div class="service-card-content">
            A Website is an extension of yourself and we can help you to express
            it properly. Your website is your number one marketing asset because
            we live in a digital age.
          </div>
        </div>
        <!-- 2 -->
        <div class="service-card">
          <div class="logo-service">
            <img src="Images/software-testing.png" alt="" />
          </div>
          <div class="service-card-title">Software Testing Services</div>
          <div class="service-card-content">
            A Website is an extension of yourself and we can help you to express
            it properly. Your website is your number one marketing asset because
            we live in a digital age.
          </div>
        </div>
        <!-- 3 -->
        <div class="service-card">
          <div class="logo-service">
            <img src="Images/moble-development.png" alt="" />
          </div>
          <div class="service-card-title">Mobile App Development</div>
          <div class="service-card-content">
            A Website is an extension of yourself and we can help you to express
            it properly. Your website is your number one marketing asset because
            we live in a digital age.
          </div>
        </div>
        <!-- 4 -->
        <div class="service-card">
          <div class="logo-service">
            <img src="Images/web-design-development.png" alt="" />
          </div>
          <div class="service-card-title">Software App Development</div>
          <div class="service-card-content">
            A Website is an extension of yourself and we can help you to express
            it properly. Your website is your number one marketing asset because
            we live in a digital age.
          </div>
        </div>

        <!-- 5 -->
        <div class="service-card">
          <div class="logo-service">
            <img src="Images/moble-development.png" alt="" />
          </div>
          <div class="service-card-title">Mobile App Development</div>
          <div class="service-card-content">
            A Website is an extension of yourself and we can help you to express
            it properly. Your website is your number one marketing asset because
            we live in a digital age.
          </div>
        </div>
      </div>
    </div>

        <!-- Footer  -->

        <div class="footer">
            <div class="company-logo">
              <img src="Images/company-logo.png" alt="" />
              <div class="footer-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
            </div>
      
            <div class="links">
              <strong>Links</strong>
              <option value="" class="link-name">About-Us</option>
              <option value="" class="link-name">Services</option>
              <option value="" class="link-name">Case Studies</option>
              <option value="" class="link-name">How its works</option>
              <option value="" class="link-name">Blog</option>
              <option value="" class="link-name">Careers</option>
              <option value="" class="link-name">Areas We Serve</option>
            </div>
      
            <div class="contact-us">
              <strong>Contact-Us</strong>
              <div class="contact-us-address">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </div>
              <div class="contact-us-number">+923183561921</div>
            </div>
      
            <div class="social-media-icons"> <span class="social-title">Follow on social media</span> 
              <br>
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-square-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-linkedin-in"></i>
            </div>
          
            
          </div>  
          <div class="line">
      
          </div>
          <div class="copy-right">
            &#x24B8; 2023 Copyright by JK Developer. All rights reserved.
          </div>
</body>
</html>