* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* nav bar start */
.nev-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nev-bar .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nev-bar .nav .nav-option {
  margin-right: 50px;
}
.nev-bar .nav-button {
  margin-right: 30px;
  background-image: linear-gradient(to left, #6675F7, #57007B);
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: aliceblue;
  font-weight: 500;
  transition: all 300ms;
}
.nev-bar .nav-button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nev-bar .logo > img {
  margin-left: 20PX;
}

/* hero-section  start*/
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .hero-section-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: blue;
  margin-top: 70px;
  color: aliceblue;
  font-size: 16px;
  font-weight: 500;
  transition: all 300ms;
}
.hero-section .hero-section-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hero-section .hero-section-image > img {
  height: 300px;
  width: 400px;
  margin-right: 20px;
  margin-left: 60px;
}
.hero-section .text-decoration {
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#DE4396, #0D1C9F);
  color: transparent;
  font-size: 25px;
}
.hero-section .hero-section-text > h2 {
  font-weight: 300;
}

.card {
  display: flex;
}
.card .service-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px;
  border-radius: 15px;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: all 300ms;
  transition: all 300ms;
}
.card .service-card:hover {
  border: 1px solid palevioletred;
  transform: translateY(30px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card .service-card .service-card-title {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card .service-card .service-card-content {
  font-size: 14px;
  font-weight: 300;
}
.card .service-card .logo-service > img {
  height: 70px;
  width: 70px;
}

/* footer start  */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: aliceblue;
}
.footer .footer-content {
  width: 200px;
  font-size: 14px;
  margin-top: 6px;
  font-weight: 300;
}
.footer .contact-us {
  width: 200px;
}
.footer .social-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px;
  display: block;
}
.footer .fa-brands {
  margin-right: 20px;
  font-size: 22px;
  padding-left: 5px;
  position: relative;
  left: 15px;
}
.footer .contact-us-address {
  font-size: 14px;
  margin-top: 6px;
  font-weight: 300;
  margin-bottom: 6px;
}
.footer .contact-us-number {
  font-size: 14px;
  font-weight: 300;
}
.footer .link-name {
  font-size: 14px;
  margin-top: 6px;
  font-weight: 300;
}

/* Copyright  */
.copy-right {
  padding: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: aliceblue;
}

.line {
  height: 1px;
  width: 100%;
  text-decoration: underline;
  background-color: #cccccc;
}/*# sourceMappingURL=style.css.map */