$primary-box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
$secondary-box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$primary-font-weight: 300;
$secondary-font-weight:500;

$font-size-16: 16px;
$font-size-12:12px;
$font-size-18:18px;
$font-size-14:14px;
$font-size-25:25px;
$font-size-22:22px;